[Desktop Entry]
Encoding=UTF-8
Name=Cactus Jukebox
Name[xx]=
GenericName=
Exec=/usr/bin/cactus
Icon=/usr/share/cactusjukebox/icon/cactus-icon.png
Terminal=false
Type=Application
Categories=Application;AudioVideo;
